/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

/* Based on Initializr Styles by Jonathan Verrecchia - verekia.com/initializr/responsive-template */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 10px solid #e44d26;
}

.footer-container, .main aside {
    border-top: 20px solid #e44d26;
}

.header-container, .footer-container, .main aside {
    background: #f16529;
}

.title {
    color: white;
    text-align: center;
    margin-bottom: 10p
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {
    .title {
        float: left;
    }
}

@media only screen and (min-width: 768px) {
    .header-container, .main aside {
        box-shadow: 0 3px 3px #aaa;
    }
    /*
    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }*/
}

@media only screen and (min-width: 1140px) {
    .wrapper {
        width: 1026px;
        /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/*
Spinner, from: http://tobiasahlin.com/spinkit/
*/

.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #e44d26;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

/*
 *  Display
 */

.server-data>header::after {
    clear: both;
}

.server-data>header>h2 {
    margin-bottom: 0;
}

.server-data>header>span {
    float: right;
    font-style: italic;
}

@media only screen and (min-width: 480px) {
    .server-data>header>h2 {
        margin: 0;
    }
}

.gpu-list, .processes {
    list-style-type: none;
    padding-left: .5em;
}

@media only screen and (min-width: 768px) {
    .gpu-list, .processes {
        padding-left: 2em;
    }
}

.gpu-list .proc-used, .gpu-list .mem-used {
    float: right;
}

.gpu-list .proc-used::before, .gpu-list .mem-used::before {
    font-weight: bold;
    font-size: 76%;
    padding: 0 0.25em 0 .5em;
}

.gpu-list .proc-used::before {
    content: "CPU";
}

.gpu-list .mem-used::before {
    content: "MEM";
}

.gpu-list h3 {
    margin-bottom: 0;
    font-size: 1rem;
}

.gpu-list .mem-used-bar-outer {
    width: 100%;
    height: 11px;
    border: thin solid #e44d26;
    margin-bottom: 3px;
}

.gpu-list .mem-used-bar-inner {
    height: 100%;
    background: #f16529;
}

@media only screen and (min-width: 768px) {
    .gpu-list .mem-used-bar-outer {
        height: 15px;
        margin-bottom: 7px;
    }
}

.processes>li>span {
    padding-left: .5em;
    user-select: none;
    -moz-user-select: none;
}

.processes .proc-user {
    font-family: monospace;
}

.processes .proc-cmd .proc-cmd-toolip {
    visibility: hidden;
    display: block;
    width: 90%;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    left: 5%;
    z-index: 1;
}

.processes .proc-cmd:hover .proc-cmd-toolip {
    visibility: visible;
}


@media only screen and (min-width: 480px) {
    .processes {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
